tags
vim/bundle/
vim/spell/
vim/doc/
vim/ftdetect/
vim/ftplugin/
vim/indent/
vim/syntax/
vim/.netrwhist
config/nvim/autoload
config/nvim/plugged
config/nvim/spell
bash/git_identity
emacs.d/elpa/
*~
*/.emacs.desktop
*/.emacs.desktop.lock
*.elc
